/* Estilo geral para o corpo */
body {
    font-family: Poppins,  sans-serif;/**/
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;


    height: 100vh; /* Garante que o body ocupe toda a tela */
    
}

h1{
    margin: 20px;
    color: #1C1570;/**/
    font-size: 9rem;
    font-family: Poppins,  sans-serif;/**/
    text-align: center;/**/

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha verticalmente */
    justify-content: center;
    gap: 40px; /* Espaço entre imagem e conteúdo */
    height: auto; /* O container se ajusta ao conteúdo */
    padding: 15px; /* Espaçamento interno */
    border: 2px none #1C1570; /* Remove as bordas */
    box-shadow: none; /* Remove a sombra */
    background-color: transparent; /* Fundo transparente */
    width: 100%; /* Adicionado para garantir que o container ocupe toda a largura disponível */

}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre o título e o texto */
    text-align: left;

}

/*H2*/
.titulo{
    margin: 0px;
    font-size: 2.5rem;
    color: #1C1570;

}

.img img {
    max-width: 400px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 32px; /* Bordas arredondadas */
    border: #1C1570 solid, 2px;

}

.texto {
    font-size: 1.3rem;
    color: black;
    margin: 0; /* Remove a margem padrão */

}

.search-box{
    border: 2px solid black;
    position: absolute;
    background:#C7BA9E;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: black;
    font-size: 20px;
    line-height: 40px;
   

}

.search-btn{
    width: 49px;
    height: 40px;
    border-radius: 50%;
    background: #C7BA9E;
    display: flex;
    justify-content: center;
    align-items: center;

}

