body{

    background-color: #FAF6EB;
}

h1{
    color: #1C1570;
    font-size: 300px;
    font-family: Poppins,  sans-serif;
    text-align: center;
}

.Tema1{
    color: #1C1570;
    font-family: Open Sans, sans-serif;
}
.Tema2{
    color: #1C1570;
}

.Tema3{
    color: #1C1570;
}